Non zero-length protected header for non AEAD

I've missed section 4 of RFC 9459 says
> The 'protected' header MUST be a zero-length byte string.

With this code below,
```python3
from cwt import COSE, COSEKey, Recipient

plaintext = b"This is the content."
cek = COSEKey.from_symmetric_key(alg="A128CBC")
kek = COSEKey.from_symmetric_key(alg="A128KW")
r = Recipient.new(unprotected={"alg": "A128KW"}, sender_key=kek)
sender = COSE.new()
encoded = sender.encode_and_encrypt(
    plaintext,
    cek,
    protected={
        "alg": "A128CBC",
    },
    unprotected={
        "iv": cek.generate_nonce(),
    },
    recipients=[r],
)
```

current python-cwt generates
```
96([
  / protected: / << {
    / alg / 1: -65531 / A128CBC /
  } >>,
  / unprotected: / {
    / IV / 5: h'89A7111B7F7B0DA76B1ED661587F2CD7'
  },
  / ciphertext: / h'60D24FE4E5B495AB0E739A6AF12ADB86D23CC452636657B2B9A623759209F0B9',
  / recipients: / [
    [
      h'',
      {1: -3},
      h'7D0B4BA69AA2C1F2C741983D639569867A91A9C4E6771903'
    ]
  ]
])
```

but it should be
```
96([
  / protected: / h'',
  / unprotected: / {
    / alg / 1: -65531 / A128CBC /,
    / IV / 5: h'89A7111B7F7B0DA76B1ED661587F2CD7'
  },
  / ciphertext: / h'60D24FE4E5B495AB0E739A6AF12ADB86D23CC452636657B2B9A623759209F0B9',
  / recipients: / [
    [
      h'',
      {1: -3},
      h'7D0B4BA69AA2C1F2C741983D639569867A91A9C4E6771903'
    ]
  ]
])
```
